[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook
